<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Relax as we get to know you!</h2>
                <hr class="light">
                <p class="text-faded"></p>
                <a href="{{ site.book_url }}" class="btn btn-default btn-xl"><i class="fas fa-calendar-alt fa-lg"></i> Book an appointment</a>
            </div>
        </div>
    </div>
</section>
