<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Relax as we get to know you!</h2>
                <hr class="light">
                <p class="text-faded">Amethyst Nail Studio provides a relaxing one-on-one experience in which the nail technician builds a personal bone with the client. I service one client at a time, focusing on their needs creating a quality service they will enjoy.</p>
                <a href="{{ site.book_url }}" class="btn btn-default btn-xl"><i class="fas fa-calendar-alt fa-lg"></i> Book an appointment</a>
            </div>
        </div>
    </div>
</section>
