<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Relax as we get to know you!</h2>
              <hr class="light">
              <img src="img/profile.jpg" class="profilepic">
              <p class="text-faded">
              After 12 years as a stay at home mom I was ready to start a new chapter. Discovering nails was truly a "love what you do and do what you love" moment for me. I am passionate about quality, sanitation, and customer satisfaction. Nail, hand, and feet health are of utmost importance and I would love a chance to pamper your nails and provide a custom nail service for you!
              </p>
            </div>
        </div>
    </div>
</section>
