<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-3 col-sm-6">
        <img
          src="https://instagram.find1-1.fna.fbcdn.net/v/t51.2885-15/fr/e15/s1080x1080/93711295_2564174747204304_4451752519275904106_n.jpg?_nc_ht=instagram.find1-1.fna.fbcdn.net&_nc_cat=100&_nc_ohc=DUETlYHlCRYAX_QN23L&oh=3c32ec5abe489bf89920e3793b94b1d9&oe=5F1A123B"
          class="img-responsive" alt="">
      </div>
      <div class="col-lg-3 col-sm-6">
        <img
          src="https://instagram.find1-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/104201754_118713452949680_6749677687418790383_n.jpg?_nc_ht=instagram.find1-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=3Q0Xtznsy-sAX-L8XjF&oh=991a46d31f56914bfb07ac40265cf837&oe=5F192558"
          class="img-responsive" alt="">
      </div>
      <div class="col-lg-3 col-sm-6">
        <img
          src="https://instagram.find1-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/104283348_109009537418786_1210401194300180340_n.jpg?_nc_ht=instagram.find1-1.fna.fbcdn.net&_nc_cat=102&_nc_ohc=HPChKCRgS94AX_GUXKn&oh=299c11f86addcf3c6e223b47c7e301be&oe=5F19DB02"
          class="img-responsive" alt="">

      </div>
      <div class="col-lg-3 col-sm-6">
        <img
          src="https://instagram.find1-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/104460696_3035859846496911_1113135671249521536_n.jpg?_nc_ht=instagram.find1-1.fna.fbcdn.net&_nc_cat=103&_nc_ohc=_YBz3DYbuqMAX-gia1T&oh=3ced29dc46f892843d50988aefb375ec&oe=5F186D6C"
          class="img-responsive" alt="">

      </div>
      <div class="col-lg-3 col-sm-6">
        <img
          src="https://instagram.find1-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/104276878_982461138878093_1272056016258520306_n.jpg?_nc_ht=instagram.find1-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=EHI4Fd9TdooAX9eH7jP&oh=4ee7ef3208ce4926a8eea81ef8fe0e19&oe=5F1AFA3A"
          class="img-responsive" alt="">
      </div>
      <div class="col-lg-3 col-sm-6">
        <img
          src="https://instagram.find1-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/104408130_268643297892761_4026905428654027385_n.jpg?_nc_ht=instagram.find1-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=b04SU1dqAtQAX9E4_HX&oh=188b30e60a4d001499847ba8cee486ac&oe=5F1ADAA8"
          class="img-responsive" alt="">
      </div>
      <div class="col-lg-3 col-sm-6">
        <img
          src="{{site.url}}/img/nails2.png"
          class="img-responsive" alt="">
      </div>
      <div class="col-lg-3 col-sm-6">
        <img
          src="{{site.url}}/img/nails1.png"
          class="img-responsive" alt="">
      </div>
    </div>
  </div>
</section>
