<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 text-center">
                <div class="service-box">
                    <i class="fas fa-user-friends fa-4x wow bounceIn text-primary"></i>
                    <h3>One on One</h3>
                    <p class="text-muted">My space is in a bright, sunny area set apart from the hustle and bustle of the main salon. This atmosphere makes conversation easier between myself and my client and helps foster a relaxing atmosphere.</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 text-center">
                <div class="service-box">
                    <i class="far fa-paper-plane fa-4x wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Custom Creations</h3>
                    <p class="text-muted">I enjoy creating nails that are specific to a client's specifications. You want bright and sparkly? No problem! Do you want intricate 3D inlay? I can do that. You like quiet and classic? Done. I enjoy sculpting with acrylic and gel. I use polygel (a hybrid of acrylic and gel) to overlay natural nails. I have a wide variety of colors for regular polish and gel polish, and I am continually adding more.</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 text-center">
                <div class="service-box">
                    <i class="fas fa-heartbeat fa-4x wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Nail Health</h3>
                    <p class="text-muted">One of the things I try to teach people is the importance of keeping your natural nails healthy. Hand and feet health is critical to a person's overall health and often can be the first sign something is amiss. Things like pedicures and manicures that involve massage are excellent for relaxing tight muscles and promoting blood circulation. Furthermore,  Nail enhancements should never compromise the integrity of a natural nail. With proper application, upkeep, and removal, there should not be any damage. </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 text-center">
                <div class="service-box">
                    <i class="fas fa-hand-sparkles fa-4x wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Cleanliness</h3>
                    <p class="text-muted">Sanitation is of great importance. The state has set sanitation requirements, and I go beyond those. All metal implements are scrubbed in hot soapy water, soaked in a hospital-grade disinfectant, and sterilized with a high heat machine. I scrub and soak brushes, files, and hard plastic items in disinfectant. I spray all chairs, tables, curing lamps, and other touchable surfaces with hospital-grade disinfectants. Things like toe separators, flip flops, single-use files, desk mats, pedicure liners, orange sticks are all thrown away. Also, I wear a mask to protect you, and I ask you to do the same for me.</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 text-center">
                <div class="service-box">
                    <i class="fas fa-pencil-ruler fa-4x wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Referrals & Specials</h3>
                    <p class="text-muted">Word of mouth is the best form of advertising. I love it when clients are so happy that they tell friends. To that end, we have a referral program that can earn clients free upgrades on services!
Also, monthly specials are always happening to introduce clients to services they may not have considered before.</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 text-center">
              <a href="{{ site.book_url }}" class="service-book">
                <div class="service-box">
                    <i class="far fa-list-alt fa-4x wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Price List</h3>
                    <p class="text-muted">I reasonably price all my services. Click to find out specifics.</p>
                </div>
                </a>
            </div>
        </div>
    </div>
</section>
